<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="static/style.css">
	</head>
	
	<body style="background-image: url('static/bg.jpg'); background-size: 100%; background-position: fixed;">
		<div class="container">
			<div class="mx-auto" style="width: 800px; margin: 8% 0 auto;">
				<div style="display: flex; width: 800px;">
					<div class="panel-left" style="width: 400px; height: 400px;padding: 55px 10px;">
						<img src="static/pp.jpg" alt="Profile Photo" style="margin: auto auto auto auto;" width="380px">
					</div>
					<div class="panel" style="width: 100%; height: 330px; margin: auto 0; border-radius: 0 15px 15px 0; padding: 20px 10px;">
						<span class="profile-label">Profile</span>
						<div class="profile-name">Ahmad Mustofa Halim</div>
						<div class="profile-univ">Universitas Indonesia, Depok, ID Faculty of Computer Science</div>
						<span class="profile-label">Interest</span>
						<div style="display: flex;">
							<div class="interest-tags" style="background-color: #B8977E;">Computer Science</div>
							<div class="interest-tags" style="background-color: #00A6FF;">Theoritical Physics</div>
							<div class="interest-tags" style="background-color: #77D353;">Theology</div>
						</div>
						<span class="profile-label">Contact</span>
						<div style="display: flex;">
							<a href="http://t.me/Mustosoft"><img class="contact-icon" src="static/tg.png" ></a>
							<a href="https://api.whatsapp.com/send?phone=6282242045483"><img class="contact-icon" src="static/wa.png" ></a>
							<a href="mailto:mware@hi2.in"><img class="contact-icon" src="static/em.png" ></a>
						</div>
						<span class="profile-label">Address</span>
						<div class=".profile-addr">Depok, Indonesia</div>
					</div>
				</div>
			</div>
			<div class="mx-auto" style="width: 800px; height: 58px; margin: 60px 0 auto;">
				<a style="color: #000000; text-decoration: none;" href="edu.html">
					<div class="panel" style="text-align: right; width: auto; float: right; padding: 10px 20px;">
						<span class="page-nav">Education Profile</span>
						<img src="static/nxt.png" height="36px">
					</div>
				</a>
			</div>
		</div>
	</body>
</html>
{% endblock %}