<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="static/style.css">
	</head>
	
	<div style="background-image: url('static/bg.jpg'); background-size: 100%; background-position: fixed;">
		<div class="container">
			<div class="mx-auto" style="display: flex; width: 800px; margin: 0; padding: 60px 0 0 0;">
				<a style="color: #000000; text-decoration: none;" href="/">
					<div class="panel" style="text-align: right; width: auto; float: left; padding: 10px 20px;">
						<img src="static/nxt.png" style="-webkit-transform: scaleX(-1); transform: scaleX(-1);" height="36px">
						<span class="page-nav">Back to Home</span>
					</div>
				</a>
			</div>
			
			<div class="mx-auto" style="width: 800px; margin: 20px;">
				<div class="panel" style="width: 100%; height: auto; margin: auto 0; padding: 20px 50px;">
					<span class="profile-label">Elementary School</span>
					<div class="edu-school">SD Negeri 1 Kebumen</div>
					<div class="edu-addr">Kebumen, Indonesia</div>
					<br>
					
					<span class="profile-label">Junior High School</span>
					<div class="edu-school">SMP Negeri 3 Kebumen</div>
					<div class="edu-addr">Kebumen, Indonesia</div>
					<br>
					
					<span class="profile-label">Senior High School</span>
					<div class="edu-school">SMA Negeri 1 Kebumen</div>
					<div class="edu-addr">Kebumen, Indonesia</div>
					<br>
				</div>
			</div>
			<div class="mx-auto" style="display: flex; width: 800px; margin: auto; padding: 0 0 20px 0;">
				<a style="color: #000000; text-decoration: none;" href="signup.html">
					<div class="panel" style="text-align: right; width: auto; float: right; padding: 10px 20px;">
						<span class="page-nav">Register</span>
						<img src="static/nxt.png" height="36px">
					</div>
				</a>
			</div>
		</div>
	</div>
</html>
{% endblock %}
