<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="static/style.css">
	</head>
	
	<body style="background-image: url('static/bg.jpg'); background-size: 100%; background-position: fixed;">
		<div class="container">
			<div class="mx-auto" style="display: flex; width: 800px; margin: 60px 0 auto;">
				<a style="color: #000000; text-decoration: none;" href="/">
					<div class="panel" style="text-align: right; width: auto; float: left; padding: 10px 20px;">
						<img src="static/nxt.png" style="-webkit-transform: scaleX(-1); transform: scaleX(-1);" height="36px">
						<span class="page-nav">Back to Home</span>
					</div>
				</a>
			</div>
			
			<div class="mx-auto" style="width: 800px; margin: 20px;">
				<div class="panel" style="width: 100%; height: auto; margin: auto 0; padding: 20px 50px;">
					<form>
						<div class="form-group">
							<label for="formGroupExampleInput">Name</label>
							<input name="fullname" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Name">
							<small id="nameHelp" class="form-text text-muted">Your full name including title.</small>
						</div>
						
						<div class="form-group">
							<label for="formGroupExampleInput">Birthdate</label><br>					
							<input type="date" name="bday">
							<small id="bdateHelp" class="form-text text-muted">Your birthdate.</small>
						</div>
					
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						</div>
						
						<div class="form-group">
							<label for="formGroupExampleInput">Username</label>
							<input name="username" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Username">
							<small id="nameHelp" class="form-text text-muted">Your full name including title.</small>
						</div>
						
						<div class="form-group">
							<label name="passwd" for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							<small id="passHelp" class="form-text text-muted">Enter password.</small>
						</div>
						
						<div class="form-group">
							<label for="exampleInputPassword1">Re-type Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							<small id="passHelp" class="form-text text-muted">Enter again password you've entered.</small>
						</div>
						
						<div class="form-group form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">I Agree to Continue Registering</label>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
	
</html>
{% endblock %}