@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular-webfont.eot');
	src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Regular-webfont.woff2') format('woff2'),
		url('Roboto-Regular-webfont.woff') format('woff'),
		url('Roboto-Regular-webfont.ttf') format('truetype'),
		url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
		src: url('lato-regular-webfont.woff2') format('woff2'),
		url('lato-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.panel {
	background-color: rgba(235, 235, 235, 0.6);
	border-radius: 15px;
}

.panel-left {
	background-color: rgba(235, 235, 235, 0.9);
	border-radius: 20px;
}

.profile-label {
	color: #969FAA;
	font-family: 'Roboto';
}

.profile-name, .edu-school {
	color: #47525E;
	font-family: 'Roboto';
	font-size: 26px;
	font-weight: bold;
}

.profile-univ ,.profile-addr, .edu-addr{
	color: #47525E;
	font-family: 'Roboto';
	font-size: 15px;
}

.interest-tags {
	color: #FFFFFF;
	font-family: Lato;
	font-size: 12px;
	border-radius: 100px;
	background-color: #000000;
	padding: 0px 7px;
	margin: 0px 1px;
	width: auto;
}

.contact-icon {
	width: 27.74px;
	margin: 1px 2px;
}

.page-nav {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Lato';
	vertical-align: middle;
}