@font-face {
	font-family: 'Roboto';
	src: url("Roboto-Regular-webfont.eea62f6fe3eb.eot");
	src: url("Roboto-Regular-webfont.eea62f6fe3eb.eot?#iefix") format('embedded-opentype'),
		url("Roboto-Regular-webfont.4b92aa579c6c.woff2") format('woff2'),
		url("Roboto-Regular-webfont.b3be96cbbfd0.woff") format('woff'),
		url("Roboto-Regular-webfont.3a7c47cbda46.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
		src: url("lato-regular-webfont.f592d7079992.woff2") format('woff2'),
		url("lato-regular-webfont.05e20653f277.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

.panel {
	background-color: rgba(235, 235, 235, 0.6);
	border-radius: 15px;
}

.panel-left {
	background-color: rgba(235, 235, 235, 0.9);
	border-radius: 20px;
}

.profile-label {
	color: #969FAA;
	font-family: 'Roboto';
}

.profile-name, .edu-school {
	color: #47525E;
	font-family: 'Roboto';
	font-size: 26px;
	font-weight: bold;
}

.profile-univ ,.profile-addr, .edu-addr{
	color: #47525E;
	font-family: 'Roboto';
	font-size: 15px;
}

.interest-tags {
	color: #FFFFFF;
	font-family: Lato;
	font-size: 12px;
	border-radius: 100px;
	background-color: #000000;
	padding: 0px 7px;
	margin: 0px 1px;
	width: auto;
}

.contact-icon {
	width: 27.74px;
	margin: 1px 2px;
}

.page-nav {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Lato';
	vertical-align: middle;
}